@charset "utf-8"


/* SECTION SAMPLE 01
 * -----------------------------------------------*/

.section-top-banner
  +size(100%, 0)
  background: url(../img/top/banner.jpg) center center no-repeat
  padding-bottom: 45%
  background-size: cover
  position: relative

.check-availabel
  background: rgba(0, 51, 102, 0.6)
  padding: 35px 0 55px
  position: absolute
  bottom: 0
  left: 0
  width: 100%
  +display-flex
  +align-items(center)
  +justify-content(center)
  .item
    margin: 0 5px

  .item-checkin
    padding: 0 15px
    +size(160px, 50px)
    border: 1px solid #fff
  .item-select
    padding: 0
    +size(140px, 50px)
    border: 1px solid #fff
    position: relative
    &:after
      content: ''
      position: absolute
      top: 50%
      right: 32px
      +translateY(-50%)
      +size(5px, 7px)
      background: url(../img/common/icon_select.png) center center no-repeat
      background-size: 100% 100%
    .select-control
      padding: 0 30px
      width: 100%
      height: 100%
      color: #fff
      appearance: none
      -webkit-appearance: none
      -ms-appearance: none
      -moz-appearance: none

    option
      color: #000
  .btn-check-availabel
    +size(265px, 50px)
    background-color: $base-color01
    display: table
    text-align: center

    .txt-btn
      display: table-cell
      vertical-align: middle
      height: 50px
      width: 100%
      text-align: center
      color: #fff
      text-transform: uppercase
      font-family: 'UTMAvoBold'
      font-size: 12px
      font-weight: 900

@media (max-width: 1200px)
  .section-top-banner
    // height: 600px

@media (max-width: 992px)
  .check-availabel
    .btn-check-availabel
      width: 230px
      .txt-btn
    .item-select
      width: 120px

      .select-control
        padding: 0 10px

    .item-checkin
      padding: 0 10px

@media (max-width: $base-sm-break)

  .section-top-banner
    // height: 5.5rem
    margin-bottom: 3rem
    padding-bottom: 75%

  .check-availabel
    top: 100%
    padding: .35rem .3rem 2.25rem
    +flex-wrap(wrap)

    .item-checkin,
    .item-select
      margin: .05rem
      padding: 0 .1rem
      +size(48%, .5rem)
      &:after
        +size(.1rem, .14rem)
        right: .2rem

    .item-select
      padding: 0
      .select-control
        padding: 0 .1rem

    .btn-check-availabel
      margin-top: .15rem
      +size(2.65rem, .5rem)

      .txt-btn
        font-size: .2rem
        height: .5rem




// .section-top-info
.common-title
  width: 100%
  text-align: center
  .txt-title
    text-transform: uppercase
    font-size: 32px
    font-family: 'UTMAvo'
    display: inline-block
    position: relative
    padding-bottom: 15px
    &:after
      content: ''
      +size(100%, 1px)
      background-color: $base-color01
      position: absolute
      left: 50%
      bottom: 10px
      +translateX(-50%)
    &:before
      content: ''
      +size(72%, 1px)
      background-color: $base-color01
      position: absolute
      left: 50%
      bottom: 0
      +translateX(-50%)
.desc-common
  font-family: 'UTMAvo'
  font-size: 21px
  line-height: 1.15

.section-top-info
  margin-top: 46px

.desc-top-info
  max-width: 980px
  width: 100%
  margin: 0 auto
  text-align: center
  .desc-common
    margin-top: 50px

@media (max-width: 992px)
  .common-title
    .txt-title
      font-size: 28px
@media (max-width: $base-sm-break)
  .section-top-info
    margin-top: .5rem
    .desc-common
      margin-top: .2rem
  .common-title .txt-title
    font-size: .32rem
    padding-bottom: .2rem
    &:after
      bottom: .08rem

  .desc-common
    font-size: .24rem







// .section-top-room


.section-top-room
  margin-top: 50px
  padding-top: 40px
  +size(100%, auto)
  background: url(../img/top/bgd_room.png) center center no-repeat
  background-size: cover
  overflow: hidden

  .wrapper
    // max-width: 1530px

.main-visual-middle
  .slide
    width: 90%
    height: 530px
    +display-flex
    +align-items(center)
    position: relative
    overflow: hidden

  .fade-left
    width: 60%
    background: rgba(0, 51, 102, .2)
    padding: 30px 140px 50px 20px
    position: absolute
    left: 0
    top: 50%
    +translateY(-50%)
    z-index: 6

    img
      width: auto
      max-width: 100%
    .title
      font-size: 32px
      font-family: 'UTMAvoBold'
      color: $base-color01
      font-weight: bold
      line-height: 1
    .sub-title
      padding-top: 10px
    .list-img
      margin: 15px 0

    .btn-read-more
      margin-top: 20px
      display: inline-block
  .fade-right
    width: 50%
    position: absolute
    right: 0
    top: 50%
    +translateY(-50%)
    z-index: 4
    img
      width: 100%

  .slick-prev:before,
  .slick-next:before
    color: transparent
    opacity: 1
  .slick-prev
    background: url(../img/common/arr_left.png) center center no-repeat
    background-size: contain
    left: -40px
  .slick-next
    background: url(../img/common/arr_right.png) center center no-repeat
    background-size: contain
    right: -40px

  .slick-prev,
  .slick-next
    width: 28px
    height: 60px
    font-size: initial
    z-index: 99

  .slick-prev:before
    content: none
    +size(28px, 60px)
    background: url(../img/common/arr_left.png) center center no-repeat
    background-size: contain
  .slick-next:before
    content: none
    +size(28px, 60px)
    background: url(../img/common/arr_right.png) center center no-repeat
    background-size: contain

  .slick-dots
    width: 100%
    +display-flex
    +align-items(center)
    +justify-content(center)
    text-align: center
    position: absolute
    left: 0
    bottom: 0



@media (max-width: 1580px)
  .section-top-room
    .wrapper
      padding: 0 50px

  .main-visual-middle
    .slick-prev
      left: -45px
    .slick-next
      right: -45px

    .fade-left
      padding-left: 35px
      padding-right: 35px

@media (max-width: 1200px)
  .section-top-room
    // height: 500px
  .main-visual-middle .slide
    height: 385px

@media (max-width: 992px)
  .section-top-room
    padding-top: 0

  .main-visual-middle
    .slide
      margin-top: 30px
      height: 330px
    .slick-dots
      bottom: 0
    .fade-left
      .title
        font-size: 26px
      .sub-title
        font-size: 16px
      .list-img
        margin: 8px 0
        width: 70px
      .desc
        font-size: 12px
      .btn-read-more
        margin-top: 5px
        font-size: 12px




@media (max-width: $base-sm-break)
  .section-top-room
    height: auto
    margin-top: .5rem

    .wrapper
      padding: 0 .4rem

  .main-visual-middle
    .slide
      height: 3.1rem
      margin-top: .2rem

    .slick-prev,
    .slick-next
      +size(.25rem, .5rem)

    .slick-prev
      left: -.35rem

    .slick-next
      right: -.35rem

    .fade-left
      padding: .2rem
      .title
        font-size: .24rem
      .sub-title
        font-size: .16rem
      .list-img
        margin: .05rem 0
        width: 0.7rem
      .desc
        font-size: .14rem
      .btn-read-more
        margin-top: .05rem
        font-size: .14rem

  .slick-dots li
    +size(.15rem)

    button
      +size(.15rem)
      padding: 0
      &:before
        content: ''
        color: transparent
        +size(.15rem)



// .section-top-dining

.section-top-dining
  margin-top: 35px

.btn-read-more
  color: $base-color01

.content-dining

  .desc-dining
    +display-flex
    +align-items(center)
    margin-top: 27px
  .thumb-dining
    width: 50%
    padding-left: 0
    line-height: 0
    img
      width: 100%

  .desc-content
    width: 50%
    background: rgba(0, 51, 102, .2)
    padding: 80px 0 80px 20px
    font-family: 'MyriadPro'
    font-size: 18px
    line-height: 1.5
    color: #000


@media (max-width: $base-sm-break)
  .section-top-dining
    margin-top: .5rem
  .content-dining
    .desc-dining
      margin-top: .3rem

    .desc-content
      padding: .4rem .3rem
      font-size: .24rem


// .section-top-gallery
.section-top-gallery
  margin-top: 93px
.desc-gallery
  padding: 30px 0
  margin-top: 7px
  +size(100%, 610px)
  background: url(../img/top/bgd_gallery.png) left bottom no-repeat
  background-size: cover
  position: relative


  &:after
    content: ''
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    background: rgba(255, 255, 255, .8)
    z-index: 3
    +size(100%)
  &:before
    content: ''
    position: absolute
    top: 0
    left: 0
    background: rgba(255, 255, 255, .95)
    z-index: 4
    +size(100%, 68%)

.gallery-inner
  width: 100%
  +display-flex
  +align-items(center)

  .video
    width: 50%
    height: 540px
    background: url(../img/top/Video.jpg) center center no-repeat
    background-size: cover
    position: relative
    z-index: 5

    .btn-play
      position: absolute
      top: 50%
      left: 50%
      +translate(-50%, -50%)
      cursor: pointer

  .list-thumb
    margin-left: 17px
    width: 50%
    +display-flex
    +align-items(center)
    +flex-wrap(wrap)
    +justify-content(space-between)
    position: relative
    z-index: 5
    .thumb-item
      width: 31%
      margin: 25px 0
      box-shadow: 2px 0 34px rgba(0, 0, 0, .55)
      line-height: 0
      img
        width: 100%
        line-height: 0


@media (max-width: 1400px)
  .gallery-inner .list-thumb .thumb-item
    width: 30%


@media (max-width: 1200px)
  .content-dining
    .desc-dining
      +flex-wrap(wrap)
    .thumb-dining
      width: 100%
      padding-left: 0
    .desc-content
      width: 100%

@media (max-width: 992px)
  .desc-gallery
    height: auto
    &:before
      content: none
  .gallery-inner
    +flex-wrap(wrap)

    .video
      width: 100%

    .list-thumb
      width: 100%
      margin-left: 0
      +justify-content(space-between)

      .thumb-item
        width: 15%
        margin: 15px 0 20px
  .content-dining
    .desc-content
      padding: 40px 30px
  .section-top-gallery
    margin-top: 50px


@media (max-width: $base-sm-break)
  .section-top-gallery
    margin-top: .5rem

  .desc-gallery
    padding: .3rem 0
    margin-top: .3rem

  .main-visual-middle .slick-dots
    bottom: .0

  .content-dining .desc-content
    padding: .3rem

  .gallery-inner .video
    height: 4rem

  .gallery-inner .video .btn-play
    +size(1rem)
    img
      width: 100%




