@charset "utf-8"


/* COMMON FOOTER
 * -----------------------------------------------*/

.footer
  margin-top: 85px

.footer-top
  background-color: $base-color01
  width: 100%
  .footer-inner
    height: 95px
    +display-flex
    +align-items(center)
    +justify-content(center)
  .txt-input-submit
    width: 50%
    font-family: 'Roboto', sans-serif
    font-size: 18px
    line-height: 1.5
    color: $base-white
    text-align: right
    padding-right: 30px
  .group-input
    width: 50%
    .input-control
      background-color: #fff
      height: 38px
      width: 347px
      +border-radius(2px)
      padding: 0 10px
    .btn-submit
      margin-left: 10px
      +size(100px, 38px)
      background-color: #dbb86c
      color: $base-color01
      text-transform: uppercase
      font-family: 'UTMAvoBold'
      font-size: 12px
      font-weight: 900



::-webkit-input-placeholder
  color: $base-color02
  font-size: 14px

::-moz-placeholder
  color: $base-color02
  font-size: 14px

::-ms-input-placeholder
  color: $base-color02
  font-size: 14px

::-moz-placeholder
  color: $base-color02
  font-size: 14px


.footer-middle
  .footer-inner
    width: 100%
    +display-flex
    +align-items(center)

  .content-right
    width: 50%
    padding-left: 40px
    .title
      font-size: 32px
      font-family: 'UTMAvoBold'
      color: $base-color01
      font-weight: bold
      line-height: 1
      text-transform: uppercase
    .desc-info
      margin-top: 43px
      width: 100%
      +display-flex
      +align-items(center)
      .desc
        font-size: 18px
        font-family: 'UTMAvo'
        line-height: 2.22
        padding-left: 40px
      a
        width: 100%
        display: inline-block
  .content-left
    width: 50%

.maps
  width: 100%
  height: 417px

.footer-bottom
  background-color: #ecf0f1

  .footer-inner
    width: 100%
    +display-flex
    +align-items(center)
    height: 52px

  .coppyright
    width: 43.5%
    font-size: 14px
    line-height: 1
    color: #737373
    text-align: center
  .nav-footer
    width: 14.28%
    +display-flex
    +align-items(center)
    .btn-nav

      .txt-nav
        font-size: 12px
        color: #a5afb8
        text-transform: uppercase
        letter-spacing: 0.025em
      &.current
        .txt-nav
          color: #1e2a36
  .social
    width: 26%
    +display-flex
    +align-items(center)
    +justify-content(center)

    .social-item
      margin: 0 8px
      line-height: 0
  .count-online
    padding-left: 15px
    +display-flex
    +align-items(center)

    .txt-online
      padding-right: 15px
      font-size: 14px
      color: #454545
      font-family: 'Roboto', sans-serif

    .number-online
      +size(34px)
      +border-radius(100%)
      background-color: #fff
      position: relative

      span
        color: $base-color01
        font-size: 14px
        line-height: 1
        width: 100%
        text-align: center
        font-family: 'Roboto', sans-serif
        position: absolute
        top: 50%
        +translateY(-50%)


@media (max-width: 1200px)
  .footer-bottom
    .coppyright
      width: 35%

    .nav-footer
      width: 20%

@media (max-width: 992px)
  .footer-top
    .txt-input-submit
      width: auto
    .group-input
      width: auto
      .input-control
        width: 300px

  .footer-bottom
    .coppyright
      width: 50%

    .nav-footer
      width: 50%
      +justify-content(center)
    .footer-inner
      padding: 30px 0
      +flex-wrap(wrap)
      height: auto

    .social
      width: 50%
      margin-top: 20px
    .count-online
      width: 50%
      +justify-content(center)

  .footer-middle
    .wrapper
      padding: 0
    .footer-inner
      +flex-wrap(wrap)

    .content-left
      width: 100%
    .content-right
      width: 100%
      margin: 30px 0
      padding: 0 30px
@media (max-width: $base-sm-break)

  .footer
    margin-top: .5rem

  .footer-top
    .footer-inner
      height: auto
      padding: .2rem 0
      +flex-wrap(wrap)

    .txt-input-submit
      font-size: .24rem
      width: 100%
      text-align: center

    .group-input
      margin-top: .15rem
      .input-control
        width: 3.5rem
        height: .45rem
        padding: 0 .1rem

      .btn-submit
        width: 1.2rem
        height: .45rem
        font-size: .14rem
        margin-left: .15rem

  ::-webkit-input-placeholder
    font-size: .18rem

  ::-moz-placeholder
    font-size: .18rem

  ::-ms-input-placeholder
    font-size: .18rem

  ::-moz-placeholder
    font-size: .18rem

  .maps
    height: 4rem

  .footer-middle
    .content-right
      margin: .3rem 0
      margin-top: .5rem
      padding: 0 .2rem
      .title
        font-size: .3rem

      .desc-info
        margin-top: .3rem
        .desc
          font-size: .22rem
          padding-left: .3rem
      .icon-desc
        width: .5rem
        img
          width: 100%

  .footer-bottom
    .footer-inner
      padding: .3rem 0
      position: relative
    .coppyright
      width: 100%
      +order(4)
      margin-top: .1rem
      font-size: .18rem
    .social
      +order(1)
      width: 100%
      margin-top: 0
      .social-item
        margin: 0 .05rem
        img
          +size(.5rem)
    .nav-footer
      +order(2)
      width: 100%
      margin-top: .15rem
      .btn-nav .txt-nav
        font-size: .24rem
    .count-online
      position: absolute
      top: .2rem
      right: 0
      width: auto

      .txt-online
        font-size: .24rem
        padding-right: .1rem
      .number-online
        +size(.7rem)
        span
          font-size: .24rem






