@charset "utf-8"


/* COMMON HEADER
 * -----------------------------------------------*/

@-webkit-keyframes menu1In
  0%
    -webkit-transform: translateY(0px) rotate(0deg)
    transform: translateY(0px) rotate(0deg)

  50%
    -webkit-transform: translateY(.12rem) rotate(0deg)
    transform: translateY(.12rem) rotate(0deg)

  100%
    -webkit-transform: translateY(.12rem) rotate(-45deg)
    transform: translateY(.12rem) rotate(-45deg)


@keyframes menu1In
  0%
    -webkit-transform: translateY(0px) rotate(0deg)
    transform: translateY(0px) rotate(0deg)

  50%
    -webkit-transform: translateY(.12rem) rotate(0deg)
    transform: translateY(.12rem) rotate(0deg)

  100%
    -webkit-transform: translateY(.12rem) rotate(-45deg)
    transform: translateY(.12rem) rotate(-45deg)


@-webkit-keyframes menu1Out
  0%
    -webkit-transform: translateY(.12rem) rotate(-45deg)
    transform: translateY(.12rem) rotate(-45deg)

  50%
    -webkit-transform: translateY(.12rem) rotate(0deg)
    transform: translateY(.12rem) rotate(0deg)

  100%
    -webkit-transform: translateY(0px) rotate(0deg)
    transform: translateY(0px) rotate(0deg)


@keyframes menu1Out
  0%
    -webkit-transform: translateY(.12rem) rotate(-45deg)
    transform: translateY(.12rem) rotate(-45deg)

  50%
    -webkit-transform: translateY(.12rem) rotate(0deg)
    transform: translateY(.12rem) rotate(0deg)

  100%
    -webkit-transform: translateY(0px) rotate(0deg)
    transform: translateY(0px) rotate(0deg)


@-webkit-keyframes menu3In
  0%
    -webkit-transform: translateY(0px) rotate(0deg)
    transform: translateY(0px) rotate(0deg)

  50%
    -webkit-transform: translateY(-.12rem) rotate(0deg)
    transform: translateY(-.12rem) rotate(0deg)

  100%
    -webkit-transform: translateY(-.12rem) rotate(45deg)
    transform: translateY(-.12rem) rotate(45deg)


@keyframes menu3In
  0%
    -webkit-transform: translateY(0px) rotate(0deg)
    transform: translateY(0px) rotate(0deg)

  50%
    -webkit-transform: translateY(-.12rem) rotate(0deg)
    transform: translateY(-.12rem) rotate(0deg)

  100%
    -webkit-transform: translateY(-.12rem) rotate(45deg)
    transform: translateY(-.12rem) rotate(45deg)


@-webkit-keyframes menu3Out
  0%
    -webkit-transform: translateY(-.12rem) rotate(45deg)
    transform: translateY(-.12rem) rotate(45deg)

  50%
    -webkit-transform: translateY(-.12rem) rotate(0deg)
    transform: translateY(-.12rem) rotate(0deg)

  100%
    -webkit-transform: translateY(0px) rotate(0deg)
    transform: translateY(0px) rotate(0deg)


@keyframes menu3Out
  0%
    -webkit-transform: translateY(-.12rem) rotate(45deg)
    transform: translateY(-.12rem) rotate(45deg)

  50%
    -webkit-transform: translateY(-.12rem) rotate(0deg)
    transform: translateY(-.12rem) rotate(0deg)

  100%
    -webkit-transform: translateY(0px) rotate(0deg)
    transform: translateY(0px) rotate(0deg)

.header
  background-color: $base-color01
  width: 100%
  position: relative
  z-index: 0
  top: 0
  left: 0

.nav-inner
  +display-flex
  +align-items(center)
  +justify-content(space-between)
  height: 80px
  margin-left: -16px

.list-menu
  +display-flex
  +align-items(center)


.header-logo
  position: absolute
  top: 50%
  left: 50%
  +translate(-50%, -50%)

  .img-logo
    // +size(150px, 120px)



.btn-nav
  padding: 0 16px
  .txt-nav
    color: $base-white
    font-size: 18px

.item-flag
  +display-flex
  +align-items(center)

  .btn-flag
    margin: 0 5px
    display: inline-block
    line-height: 0

@media (max-width: 1200px)
  .btn-nav
    .txt-nav
      font-size: 16px

@media (max-width: 1100px)
  .nav-inner
    height: 60px

  .header-logo
    padding-top: 10px
    position: static
    +translate(0, 0)
    width: 100%
    text-align: center
    a
      display: inline-block
    img
      width: 130px

  .list-menu
    +justify-content(space-between)
    width: 48%

@media (max-width: 992px)
  .btn-nav
    padding: 0 5px
    .txt-nav
      font-size: 14px


@media (max-width: $base-sm-break)
  .header
    position: fixed
    z-index: 999

    .wrapper
      padding: 0

  .header-logo
    img
      width: 1rem

  .hambuger-menu
    +size(.45rem, .28rem)
    position: absolute
    top: 50%
    right: .3rem
    +translateY(-50%)

    .line-item
      background: white
      +border-radius(.02rem)
      height: .04rem
      width: .45rem
      position: absolute
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
      -webkit-animation-duration: .45s
      animation-duration: .45s
      -webkit-animation-direction: alternate
      animation-direction: alternate
      -webkit-animation-fill-mode: forwards
      animation-fill-mode: forwards


      &.line-item01
        top: 0
        -webkit-transform: translateY(0)
        -ms-transform: translateY(0)
        transform: translateY(0)

      &.line-item02
        top: .12rem
        -webkit-transition-duration: .15s
        transition-duration: .15s

      &.line-item03
        top: auto
        bottom: 0
        -webkit-transform: translateY(0)
        -ms-transform: translateY(0)
        transform: translateY(0)





    &.is-down
      .line-item
        &.line-item01
          -webkit-animation-name: menu1In
          animation-name: menu1In
        &.line-item02
          opacity: 0
          -webkit-transition-duration: .25s
          transition-duration: .25s
          -webkit-transition-delay: .1s
          transition-delay: .1s
        &.line-item03
          -webkit-animation-name: menu3In
          animation-name: menu3In
    &.is-out
      .line-item
        &.line-item01
          -webkit-animation-name: menu1Out
          animation-name: menu1Out
        &.line-item02
          opacity: 1
          -webkit-transition-duration: .25s
          transition-duration: .25s
          -webkit-transition-delay: .1s
          transition-delay: .1s
        &.line-item03
          -webkit-animation-name: menu3Out
          animation-name: menu3Out

  .header-inner
    position: relative


  .navigation
    display: none
    position: absolute
    left: 0
    top: 99%
    right: 0
    background-color: #cf000f
    padding-bottom: .5rem

  .nav-inner
    height: auto
    +flex-wrap(wrap)
    margin-left: 0
    position: relative
    overflow-y: auto

  .list-menu
    width: 100%
    +flex-wrap(wrap)


    .item-menu
      width: 100%
      &.item-flag
        position: absolute
        top: 0
        right: .3rem
        width: auto
        z-index: 99

        .btn-flag
          width: .4rem
          img
            width: 100%

  .btn-nav
    padding: .1rem .3rem
    display: block
    .txt-nav
      font-size: .32rem





