@charset "utf-8"


/* COMMON TITLES
 * -----------------------------------------------*/

.sec-title

@media (max-width: $base-sm-break)

  .sec-title


/* COMMON BUTTONS
 * -----------------------------------------------*/

.btn-primary

@media (max-width: $base-sm-break)

  .btn-primary


/* COMMON BREADCRUMBS
 * -----------------------------------------------*/

.breadcrumb

@media (max-width: $base-sm-break)

  .breadcrumb


/* COMMON FORMS
 * -----------------------------------------------*/

.form

@media (max-width: $base-sm-break)

  .form


/* COMMON PAGINATIONS
 * -----------------------------------------------*/

.pagination

@media (max-width: $base-sm-break)

  .pagination



.date-picker
  margin: 0 auto

.date-picker
  $height: 50px
  $width: 260px
  $color-one-light: #8392A7
  $color-one-dark: #68768A
  $color-white: #fff

  +size(100%)
  max-height: $height
  background: transparent
  position: relative
  overflow: hidden
  transition: all 0.3s 0s ease-in-out
  .input
    width: 100%
    height: 50px
    font-size: 16px
    cursor: pointer
    position: relative
    color: #fff


    .result, button
      display: inline-block
      vertical-align: top
    .result
      // width: calc(100% - #{$height})
      width: 100%
      height: 50px
      line-height: $height
      font-size: 16px
      padding: 0 10px
      color: white
      box-sizing: border-box
  button
    position: absolute
    top: 0
    right: 0
    width: 25px
    height: 25px
    background-color: transparent
    color: white
    line-height: $height
    border: 0
    font-size: 18px
    padding: 0
    +transition(all, ease, .26s)
    &:hover
      color: #ccc
    &:focus
      outline: 0

  .calendar
    position: relative
    width: 100%
    background: #fff
    border-radius: 0px
    overflow: hidden

  .ui-datepicker-inline
    position: relative
    width: 100%

  .ui-datepicker-header
    height: 100%
    line-height: 50px
    background: $color-one-light
    color: $color-white
    margin-bottom: 10px

  .ui-datepicker-prev, .ui-datepicker-next
    width: 20px
    height: 20px
    text-indent: 9999px
    border: 2px solid $color-white
    border-radius: 100%
    cursor: pointer
    overflow: hidden
    margin-top: 12px

  .ui-datepicker-prev
    float: left
    margin-left: 12px
    &:after
      transform: rotate(45deg)
      margin: -43px 0px 0px 8px

  .ui-datepicker-next
    float: right
    margin-right: 12px
    &:after
      transform: rotate(-135deg)
      margin: -43px 0px 0px 6px

  .ui-datepicker-prev, .ui-datepicker-next
    &:after
      content: ''
      position: absolute
      display: block
      width: 4px
      height: 4px
      border-left: 2px solid $color-white
      border-bottom: 2px solid $color-white

  .ui-datepicker-prev:hover, .ui-datepicker-next:hover, .ui-datepicker-prev:hover:after, .ui-datepicker-next:hover:after
    border-color: $color-one-dark

  .ui-datepicker-title
    text-align: center

  .ui-datepicker-calendar
    width: 100%
    text-align: center
    thead
      tr
        th
          span
            display: block
            width: 100%
            color: $color-one-light
            margin-bottom: 5px
            font-size: 13px

  .ui-state-default
    display: block
    text-decoration: none
    color: #b5b5b5
    line-height: 40px
    font-size: 12px
    &:hover
      background: rgba(0,0,0,0.02)

  .ui-state-highlight
    color: $color-one-dark

  .ui-state-active
    color: $color-one-dark
    background-color: rgba(131, 146, 167, 0.12)
    font-weight: 600

  .ui-datepicker-unselectable
    .ui-state-default
      color: #eee
      border: 2px solid transparent

  &.open
    max-height: 400px
    .input
      button
        // background: $color-one-dark

input[type="text"].input::-webkit-input-placeholder
  color: #fff
  font-size: 16px

input[type="text"].input::-moz-placeholder
  color: #fff
  font-size: 16px

input[type="text"].input::-ms-input-placeholder
  color: #fff
  font-size: 16px

input[type="text"].input::-moz-placeholder
  color: #fff
  font-size: 16px



@media (max-width: $base-sm-break)
  .date-picker
    max-height: .5rem

    .input
      height: .5rem
      font-size: .24rem

      .result
        height: .5rem
        line-height: .5rem
        font-size: .24rem
        padding: 0

    button
      line-height: .5rem
      +size(.3rem)

  .date-picker button
    font-size: .24rem

  input[type="text"].input::-webkit-input-placeholder
    font-size: .24rem

  input[type="text"].input::-moz-placeholder
    font-size: .24rem

  input[type="text"].input::-ms-input-placeholder
    font-size: .24rem

  input[type="text"].input::-moz-placeholder
    font-size: .24rem
