extends _layouts/default

block vars
  -title        = 'Top'
  -description  = 'Description of Top'
  -keywords     = 'keywords of top'
  -bodyClass    = 'page-top'
  -path         = './'

block container
  section.section-top-banner
    .check-availabel
      .item-checkin.item.wow.fadeindown
        .date-picker
          +input-norequire('Check in', 'text').input#datepicker
          button
            i.fa.fa-calendar
          .calendar
      .item-checkin.item.wow.fadeindown(data-wow-delay=".3s")
        .date-picker
          +input-norequire('Check out', 'text').input#datepicker02
          button
            i.fa.fa-calendar
      .item-select.item.wow.fadeindown(data-wow-delay=".6s")
        select.select-control
          option Adults
          option 1
          option 2
          option 3
          option 4
      .item-select.item.wow.fadeindown(data-wow-delay=".9s")
        select.select-control
          option Childs
          option 1
          option 2
          option 3
          option 4
      +link('#', '').btn-check-availabel.item.wow.fadeindown(data-wow-delay="1.2s")
        span.txt-btn check available

  include _parts/navigation

  section.section-top-info
    .wrapper
      .desc-top-info
        h2.common-title.wow.fadeindown
          span.txt-title accommodation hotel in the city center of sadec city
        .desc-common.wow.fadeindown
          | Tại Khách sạn VẠN KIM LONG, chúng tôi đặt giá trị cao trên các dịch vụ tốt nhất. Sự hài lòng của du khách là những gì chúng tôi đang theo đuổi. Chúng tôi luôn luôn làm cho khách hàng cảm thấy được sự quan trọng và sự quan tâm sâu sắc để thực hiện được mục tiêu của mình một cách tốt nhất.

  section.section-top-room
    .desc-top-info
      h2.common-title.wow.fadeindown
        span.txt-title room
    .wrapper
      .main-visual-middle.wow.fadeindown
        .main-visual-in
          .slide
            .fade-left
              h2.title Single Room
              p.sub-title With sea view
              +img('icon room', path+'img/common/single_room.png').list-img
              .desc
                | More than 100 rooms, suites and apartments have accommodated many illustrious resi-densts, such as menbers of resort royal families, famous politicians and stars of film and opera. The hotel is amasterpiece rediscovered
              +link('#', 'Read more').btn-read-more.trans

            .fade-right
              +img('img right', path+'img/top/slider_right01.jpg')
          .slide
            .fade-left
              h2.title Single Room02
              p.sub-title With sea view
              +img('icon room', path+'img/common/single_room.png').list-img
              .desc
                | More than 100 rooms, suites and apartments have accommodated many illustrious resi-densts, such as menbers of resort royal families, famous politicians and stars of film and opera. The hotel is amasterpiece rediscovered
              +link('#', 'Read more').btn-read-more.trans
            .fade-right
              +img('img right', path+'img/top/slider_right01.jpg')
          .slide
            .fade-left
              h2.title Single Room03
              p.sub-title With sea view
              +img('icon room', path+'img/common/single_room.png').list-img
              .desc
                | More than 100 rooms, suites and apartments have accommodated many illustrious resi-densts, such as menbers of resort royal families, famous politicians and stars of film and opera. The hotel is amasterpiece rediscovered
              +link('#', 'Read more').btn-read-more.trans
            .fade-right
              +img('img right', path+'img/top/slider_right01.jpg')
          .slide
            .fade-left
              h2.title Single Room04
              p.sub-title With sea view
              +img('icon room', path+'img/common/single_room.png').list-img
              .desc
                | More than 100 rooms, suites and apartments have accommodated many illustrious resi-densts, such as menbers of resort royal families, famous politicians and stars of film and opera. The hotel is amasterpiece rediscovered
              +link('#', 'Read more').btn-read-more.trans
            .fade-right
              +img('img right', path+'img/top/slider_right01.jpg')

  section.section-top-dining
    .wrapper
      .content-dining
        h2.common-title.wow.fadeindown
          span.txt-title dining

        .desc-dining
          .thumb-dining.wow.fadeindown
            +img('thumb dining', path+'img/top/dining_pic.jpg')
          .desc-content.wow.fadeindown
            p
              | At VAN KIM LONG hotel, we believe in offering our guests the full ltalian experience which includes gourmet, local cuisine and amazing wines served in a warm, friendly environ-ment.<br><br>
              | For this reason, guests staying at the hotel will be treated to a nightly, four-course, gourmet dinner in our main dining room as part of their room rate.
            +link('#', 'Read more').btn-read-more.trans

  section.section-top-gallery
    h2.common-title.wow.fadeindown
      span.txt-title gallery

    .desc-gallery
      .wrapper
        .gallery-inner
          .video.wow.fadeindown
            .btn-play(data-fancybox, href="https://www.youtube.com/embed/EqPtz5qN7HM&autoplay=0&rel=0&controls=0&showinfo=0")
              +img('', path+'img/common/icon_video.png')
          .list-thumb
            +link(path+'img/top/gallery01.jpg', '')(rel="group2").thumb-item.wow.fadeindown.fancybox(data-wow-delay=".3s")
              +img('thumb gallery', path+'img/top/gallery01.jpg')
            +link(path+'img/top/gallery02.jpg', '')(rel="group2").thumb-item.wow.fadeindown.fancybox(data-wow-delay=".6s")
              +img('thumb gallery', path+'img/top/gallery02.jpg')
            +link(path+'img/top/gallery03.jpg', '')(rel="group2").thumb-item.wow.fadeindown.fancybox(data-wow-delay=".9s")
              +img('thumb gallery', path+'img/top/gallery03.jpg')
            +link(path+'img/top/gallery04.jpg', '').thumb-item.wow.fadeindown.fancybox(data-wow-delay="1.2s")
              +img('thumb gallery', path+'img/top/gallery04.jpg')
            +link(path+'img/top/gallery05.jpg', '')(rel="group2").thumb-item.wow.fadeindown.fancybox(data-wow-delay="1.5s")
              +img('thumb gallery', path+'img/top/gallery05.jpg')
            +link(path+'img/top/Video.jpg', '')(rel="group2").thumb-item.wow.fadeindown.fancybox(data-wow-delay="1.8s")
              +img('thumb gallery', path+'img/top/gallery06.jpg')





