@charset "utf-8"


/* ADDITIONAL RESET
 * -----------------------------------------------*/

*,
*:before,
*:after
  +box-sizing(border-box)

body *
  max-height: 99999em

body img
  max-height: none

input,
label,
select,
button,
textarea
  margin: 0
  border: 0
  padding: 0
  display: inline-block
  vertical-align: middle
  white-space: normal
  background: none
  line-height: 1
  font: inherit

input:focus,
button:focus,
select:focus
  outline: 0

/* Make webkit render the search input like a normal text field */
input[type=search]
  -webkit-appearance: textfield

/* Turn off the recent search for webkit. It adds about 15px padding on the left */
::-webkit-search-decoration
  display: none

/* Turn off scroll bars in IE unless needed */
textarea
  overflow: auto


/* GENERAL
 * -----------------------------------------------*/

body
  color: $base-font-color
  font-family: $base-font-sans
  font-size: $base-font-size
  font-weight: $base-font-weight
  line-height: $base-line-height
  -webkit-text-size-adjust: none
  -moz-text-size-adjust: none
  -ms-text-size-adjust: none

.ft-serif
  font-family: $base-font-serif



@font-face
  font-family: 'MyriadPro'
  src: url('fonts/MyriadPro-Regular.eot') format('embedded-opentype')
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'MyriadPro'
  src:  url('fonts/MyriadPro-Regular.otf')  format('opentype'), url('fonts/MyriadPro-Regular.woff') format('woff'), url('fonts/MyriadPro-Regular.ttf')  format('truetype'), url('fonts/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg')
  font-weight: normal
  font-style: normal

@import url('https://fonts.googleapis.com/css?family=Roboto')



@font-face
  font-family: 'UTMAvo'
  src: url('fonts/UTMAvo.eot') format('embedded-opentype')
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'UTMAvo'
  src:  url(fonts/UTMAvo.woff) format('woff'), url('fonts/UTMAvo.ttf')  format('truetype'), url('fonts/UTMAvo.svg#UTMAvo') format('svg')
  font-weight: normal
  font-style: normal



@font-face
  font-family: 'UTMAvoBold'
  src: url('fonts/UTMAvoBold.eot') format('embedded-opentype')
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'UTMAvoBold'
  src:  url(fonts/UTMAvoBold.woff) format('woff'), url('fonts/UTMAvoBold.ttf')  format('truetype'), url('fonts/UTMAvoBold.svg#UTMAvoBold') format('svg')
  font-weight: normal
  font-style: normal



/* HELPERS
 * -----------------------------------------------*/

a
  color: $base-font-color
  text-decoration: none

.trans
  +opacity(1)
  +transition(opacity .26s ease)
  &:hover
    +opacity(0.8)

.hidden
  display: none

.invisible
  visibility: hidden

.text-left
  text-align: left

.text-center
  text-align: center

.text-right
  text-align: right

.text-justify
  text-align: justify
  text-justify: distribute

.text-nowrap
  white-space: nowrap

.text-lowercase
  text-transform: lowercase

.text-uppercase
  text-transform: uppercase

.text-capitalize
  text-transform: capitalize

.wrapper
  max-width: $base-wrapper
  width: 100%
  padding: 0 30px
  margin-left: auto
  margin-right: auto


/* RESPONSIVE
 * -----------------------------------------------*/

.sm
  display: none !important

@media (max-width: $base-sm-break)

  .md
    display: none !important
  .sm
    display: block !important

  .trans,
  .trans:hover
    +opacity(1)

  html
    font-size: 13.020833333333334vw

  body
    font-size: .24rem

  .container
    width: auto
    min-width: 320px

  .wrapper
    max-width: 100%
    width: auto
    margin: 0
    padding-left: .3rem
    padding-right: .3rem
