footer.footer
  .footer-top
    .wrapper
      .footer-inner
        .txt-input-submit
          | Subscribe to our newsletter
        .group-input
          +input-norequire('johndoe@gmail.com', 'text').input-control
          +button('submit', 'submit').btn-submit
  .footer-middle
    .wrapper
      .footer-inner
        .content-left
          .maps#maps
        .content-right
          h2.title VẠN KIM LONG HOTEL
          .desc-info
            .icon-desc
              +img('location', path+'img/common/location.png')
            .desc
              | 26 DT 848 Street, Phu Long Hamlet, Tan Phu Dong Commune<br>
              | Sa Dec city, Dong Thap.
          .desc-info
            .icon-desc
              +img('location', path+'img/common/phone.png')
            .desc
              +link('tel:+842773980980', '(+84) 2773.980.980').trans
              +link('tel:0913334699', '091.3334.699').trans
          .desc-info
            .icon-desc
              +img('location', path+'img/common/mail.png')
            .desc
              +link('mailto:muoi.nguyentan@gmail.com', 'muoi.nguyentan@gmail.com').trans


  .footer-bottom
    .wrapper
      .footer-inner
        .coppyright Copyright © 2017 Logo.com. All right reserved.
        ul.nav-footer
          li
            +link(path, '').btn-nav.trans.current
              span.txt-nav home
          li
            +link('#', '').btn-nav.trans
              span.txt-nav about
          li
            +link('#', '').btn-nav.trans
              span.txt-nav menu
        .social
          +link('#', '').trans.social-item
            +img('google plus', path+'img/common/google_plus.png')
          +link('#', '').trans.social-item
            +img('facebook', path+'img/common/facebook.png')
          +link('#', '').trans.social-item
            +img('Twitter', path+'img/common/icon_twitter.png')
          +link('#', '').trans.social-item
            +img('youtube', path+'img/common/icon_youtube.png')
          +link('#', '').trans.social-item
            +img('tripadvisor', path+'img/common/icon_tripadvisor_dreamstale69.png')

        .count-online
          .txt-online Online
          .number-online
            span 30






