.header.item.wow.fadeindown
  .wrapper
    .header-inner
      h1.header-logo.item
        +link(path, '').trans
          img(src=path+"img/common/logo.png", alt="VKL").img-logo
      .hambuger-menu.sm
        .line-item.line-item01
        .line-item.line-item02
        .line-item.line-item03
      nav.navigation
        .nav-inner
          .list-menu.list-left
            .item-menu
              a.btn-nav.trans(href=path)
                span.txt-nav HOME
            .item-menu
              a.btn-nav.trans(href="#")
                span.txt-nav ABOUT US
            .item-menu
              a.btn-nav.trans(href="#")
                span.txt-nav RESVERVATION
            .item-menu
              a.btn-nav.trans(href="#")
                span.txt-nav DINING
          .list-menu.list-right
            .item-menu
              a.btn-nav.trans(href="#")
                span.txt-nav EVENT
            .item-menu
              a.btn-nav.trans(href="#")
                span.txt-nav SPECIALS
            .item-menu
              a.btn-nav.trans(href="#")
                span.txt-nav GALLERY
            .item-menu
              a.btn-nav.trans(href="#")
                span.txt-nav CONTACT
            .item-menu.item-flag
              a.btn-flag.trans(href="#")
                +img('flag VN', path+'img/common/flag_vn.png')
              a.btn-flag.trans(href="#")
                +img('flag usa', path+'img/common/flag_usa.png')
